{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
<section class="blog-page">
    <h1>Blog</h1>

    <div class="blog-list">
        {% for post in posts %}
        <div class="blog-post">
            <h2>{{ post['title'] }}</h2>
            <p class="post-meta"><em>{{ post['location'] }}</em> | <strong>{{ post['date'] | datetimeformat }}</strong></p>
            <p>{{ post['description'] }}</p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}